@import "../../scss/variables";

.Container {
    width: $container-width;
    margin: 0 auto;
  
    &--cart {
      max-width: 820px;
      margin: 90px auto;
      .content__title {
        margin: 0;
      }
    }
  }