.root {
  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    color: #fe5f1e;
    text-align: center;
    line-height: 42px;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background: #fe5f1e;
      color: white;
    }
  }

  :global {
      .selected {
        a {
          border-radius: 10px;
          background-color: #fe5f1e;
          color: white;
        }
      }
  }
}
